.card-slider {
  position: relative;
  margin: 0 auto;
}

.cards-slider-wrapper {
  display: flex;
  position: absolute;
}

@media (min-width: 300px) {
  .cards-slider-wrapper .card {
    flex: 1;
    min-width: 400px;
  }
  .arrow-btns {
    position: absolute;
    top: 45%;
    right: 50%;
    left: 50%;
    color: #5a67d8;
  }

  .arrow-btns .arrow-left {
    position: absolute;
    right: 20px;
  }
  .arrow-btns .arrow-RIGHT {
    position: absolute;
    left: 20px;
  }
  .trendingCard {
    margin-top: 300px;
  }
  .nowPlayingCard {
    margin-top: 1080px;
  }
  .upComingCard {
    margin-top: 3680px;
  }
  .footer {
    position: absolute;
    top: 6200px;
  }
}
@media (min-width: 768px) {
  .cards-slider-wrapper .card {
    flex: 1;
    min-width: 702px;
  }
  .arrow-btns {
    position: absolute;
    top: 45%;
    right: 50%;
    left: 50%;
    color: #5a67d8;
  }

  .arrow-btns .arrow-left {
    position: absolute;
    right: 20px;
  }
  .arrow-btns .arrow-RIGHT {
    position: absolute;
    left: 20px;
  }
  .trendingCard {
    margin-top: 300px;
  }
  .nowPlayingCard {
    margin-top: 1080px;
  }
  .upComingCard {
    margin-top: 3680px;
  }
  .footer {
    position: absolute;
    top: 6200px;
  }
}
@media (min-width: 1024px) {
  .cards-slider-wrapper .card {
    flex: 1;
    min-width: 1200px;
  }
  .arrow-btns {
    position: absolute;
    top: 100%;
    right: 50%;
    color: #5a67d8;
  }

  .arrow-btns .arrow-left {
    position: absolute;
    right: 50px;
  }
  .arrow-btns .arrow-RIGHT {
    position: absolute;
    left: 50px;
  }
  .trendingCard {
    margin-top: 620px;
  }
  .nowPlayingCard {
    margin-top: 1450px;
  }
  .upComingCard {
    margin-top: 2470px;
  }
  .footer {
    position: absolute;
    top: 3500px;
  }
}
