
@media (min-width: 300px) {

  .arrow-btns {
    position: absolute;
    top: 45%;
    right: 50%;
    left: 50%;
    color: #5a67d8;
  }

  .arrow-btns .arrow-left {
    position: absolute;
    right: 20px;
  }
  .arrow-btns .arrow-RIGHT {
    position: absolute;
    left: 20px;
  }
}
@media (min-width: 768px) {

  .arrow-btns {
    position: absolute;
    top: 45%;
    right: 50%;
    left: 50%;
    color: #5a67d8;
  }

  .arrow-btns .arrow-left {
    position: absolute;
    right: 20px;
  }
  .arrow-btns .arrow-RIGHT {
    position: absolute;
    left: 20px;
  }
}
@media (min-width: 1024px) {

  .arrow-btns {
    position: absolute;
    top: 100%;
    right: 50%;
    color: #5a67d8;
  }

  .arrow-btns .arrow-left {
    position: absolute;
    right: 50px;
  }
  .arrow-btns .arrow-RIGHT {
    position: absolute;
    left: 50px;
  }
}
