@media (min-width: 300px) {
  .footer {
    position: absolute;
    top: 6200px;
  }
}
@media (min-width: 768px) {
  .footer {
    position: absolute;
    top: 6200px;
  }
}
@media (min-width: 1024px) {
  .footer {
    position: absolute;
    top: 3500px;
  }
}
