
.panel {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
}

.select-teater_backdropParent {
  filter: blur(4px);
}
input[type=range] {
  -webkit-appearance: none;
  width: 70%;
  margin: 6.35px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #4fd1c5;
  border-radius: 1.3px;
  border: 0.1px solid #4fd1c5;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #4fd1c5, 0px 0px 1px #63d6cc;
  border: 0.7px solid #4fd1c5;
  height: 19px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.45px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4fd1c5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #4fd1c5;
  border-radius: 1.3px;
  border: 0.1px solid #4fd1c5;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #4fd1c5, 0px 0px 1px #63d6cc;
  border: 0.7px solid #4fd1c5;
  height: 19px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #4fd1c5;
  border: 0.1px solid #4fd1c5;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #4fd1c5;
  border: 0.1px solid #4fd1c5;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #4fd1c5, 0px 0px 1px #63d6cc;
  border: 0.7px solid #4fd1c5;
  height: 19px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 6.3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #4fd1c5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #4fd1c5;
}

@media (min-width: 300px) {
  .theater-card {
    top: 250px;
  }
  .select-teater_backdropOverlay {
    height: 250px;
  }
  .select-teater_backdropImage {
    height: 250px;
  }
  .select-teater_poster {
    top: 100px;
    z-index: 5;
  }
  .select-teater_overviewDetails {
    left: 132px;
    top: 200px;
  }
  input[type=range] {
  -webkit-appearance: none;
  width: 70%;
  margin: 6.35px 0;
}
}
@media (min-width: 768px) {
  .theater-card {
    top: 350px;
  }
  .select-teater_backdropOverlay {
    height: 300px;
  }
  .select-teater_backdropImage {
    height: 300px;
  }
  .select-teater_poster {
    top: 145px;
  }
  .select-teater_overviewDetails {
    left: 180px;
    top: 300px;
  }
  input[type=range] {
  -webkit-appearance: none;
  width: 50%;
  margin: 6.35px 0;
}
}
@media (min-width: 1024px) {
  .theater-card {
    top: 550px;
  }
  .select-teater_backdropOverlay {
    height: 500px;
  }
  .select-teater_backdropImage {
    height: 500px;
  }
  .select-teater_poster {
    top: 250px;
  }
  .select-teater_overviewDetails {
    left: 280px;
    top: 490px;
  }
  input[type=range] {
  -webkit-appearance: none;
  width: 30%;
  margin: 6.35px 0;
}
}
