input[type="checkbox"] {
  -webkit-appearance: initial;
  appearance: initial;
  background: transparent;
  border: 1px solid #5a67d8;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  position: relative;
}
input[type="checkbox"]:checked {
  background: #5a67d8;
}
input[type="checkbox"]:checked:after {
  content: "\2713";
  color: #5a67d8;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input[disabled] {
  -webkit-appearance: initial;
  appearance: initial;
  background-color: #cbd5e0;
  border: 1px solid #cbd5e0;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  position: relative;
}
.neupormism{
  border-radius: 25px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  12px 12px 24px #bfbfbf,
  -12px -12px 24px #ffffff;
}
@media (min-width: 300px) {
  .select-seat_backdropImage {
    height: 25rem;
    background-color: #383a47;
    opacity: 50%;
  }

  .select-seat_title {
    opacity: 100%;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .posterImage {
    width: 100%;
    height: 25rem;
  }

  input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: transparent;
    border: 1px solid #5a67d8;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    position: relative;
  }
  input[type="checkbox"]:checked {
    background: #5a67d8;
  }
  input[type="checkbox"]:checked:after {
    content: "\2713";
    color: #5a67d8;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  input[disabled] {
    -webkit-appearance: initial;
    appearance: initial;
    background-color: #cbd5e0;
    border: 1px solid #cbd5e0;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    position: relative;
  }
  .neupormism {
    border-radius: 25px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  12px 12px 24px #bfbfbf,
    -12px -12px 24px #ffffff;  }
  
}
