.panel {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  z-index: 10;
}

.select-teater_backdropParent {
  filter: blur(4px);
}
@media (min-width: 300px) {
  .theater-card {
    top: 250px;
  }
  .select-teater_backdropOverlay {
    height: 250px;
  }
  .select-teater_backdropImage {
    height: 250px;
  }
  .select-teater_poster {
    top: 100px;
    z-index: 5;
  }
  .select-teater_overviewDetails {
    left: 132px;
    top: 200px;
  }
}
@media (min-width: 768px) {
  .theater-card {
    top: 350px;
  }
  .select-teater_backdropOverlay {
    height: 300px;
  }
  .select-teater_backdropImage {
    height: 300px;
  }
  .select-teater_poster {
    top: 145px;
  }
  .select-teater_overviewDetails {
    left: 180px;
    top: 300px;
  }
}
@media (min-width: 1024px) {
  .theater-card {
    top: 550px;
  }
  .select-teater_backdropOverlay {
    height: 500px;
  }
  .select-teater_backdropImage {
    height: 500px;
  }
  .select-teater_poster {
    top: 250px;
  }
  .select-teater_overviewDetails {
    left: 280px;
    top: 490px;
  }
}
